<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{k}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">

            <div class="page-header">
                <div class="h1" style="font-family: 'Roboto Slab', serif; color:#6C2394"> 
                    <a href="/" style="color: inherit; text-decoration: none;">Kadir Korkmaz<small>.com</small></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9" style=" border-right: 1px solid #ddd; min-height:80vh;" >