{{> _header}}
<div class="row">

    {{#images}}
    <div class="col-sm-3">
        <div align="center" style="margin: 5px;">
            <img src="{{.}}" class="img-rounded" alt="Cinque Terre" style="width:auto;height:175px; max-width: 100%">

            <div class="image-info">
                <span>Kadir Korkmaz</span> <br/>
                <span><small>Bu resim benim resmim</small></span>
            </div>
        </div>
    </div>
    {{/images}} 

</div>
{{> _navigation}}
{{> _footer}}


